form{
    width: 500px;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    background: #8ABFBA;
    font-size: 20px;
    border-radius: 15px;
}

input{
    width: 490px;
    padding: 5px;
    font-size: 17px;
}

textarea{
    background: #f2f2f2;
    width: 495px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    resize: none;
    border: none;
}

.Nome{
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    background: #f2f2f2;
    border: none;
}

label{
    display: flex;
    justify-content: left;
}

.btn{
    width: 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}

.btn:hover{
    color:white;
    background-color: black;
}