nav {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background: #86A6A3;
    color: white;
  }
  
  .nav-Links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
  
  .li-Style{
      color: white;
      font-size: 1.8em;
  }