.App {
  text-align: center;
}

body {
  background-color: #d8f0ff;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  background: grey;
  color: white;
}

.nav-Links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

h1{
  font-size: bold;
  color: black;
}
